<!--src/layouts/Base.astro-->
---
import Header from "./Header.astro"
import Menu from "./Menu.astro"
import Footer from "./Footer.astro"
const {pageTitle="គំរូទំព័រ", pageURL} = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <link href="/images/siteLogo.png" rel="icon" />
        <link href="/fonts/setup.css" rel="stylesheet" />
        <link href="/styles/base.css" rel="stylesheet" />
        <script is:inline src="/scripts/jquery.js"></script>
    </head>
    <body>
        <Header />
        <Menu pageURL={pageURL} />
        <slot/>
        <Footer/>
    </body>
</html>