<!--src/layouts/Footer.astro-->
---
---
<section class="Footer">
    <footer class="wrapper">
        <p>&copy; 2023 Khmer Web</p>
    </footer>
</section>

<style>
    .Footer .wrapper p{
        text-align: center;
        padding: 50px 0;
    }
</style>